<?xml version="1.0" encoding="utf-8"?>
<packages>
<package id="Costura.Fody" version="6.0.0" targetFramework="net462" developmentDependency="true">
  <!-- https://github.com/Fody/Costura 将程序打包成1个可执行的.exe文件 -->
</package>
<package id="Fody" version="6.8.2" targetFramework="net462" developmentDependency="true" />


  <package id="Memory.dll.x86" version="1.2.27" targetFramework="net462">
    <!-- https://github.com/erfg12/memory.dll -->
  </package>
  
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net462">
    <!-- https://github.com/gmamaladze/globalmousekeyhook -->
  </package>
</packages>